<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav>
        <div class="logo">
            <a href="/index.html">
                <h1>PentaBlog</h1>
            </a>
            <div class="toggle">
                <a href="">

                </a>
                <button>
                    <i class="fas fa-bars"></i>
                </button>
            </div>
        </div>

        <ul class="links">
            <li><a href="/posts">Home</a></li>
            <li><a href="/posts/create">Create post</a></li>

        </ul>
    </nav>

</body>
</html>